<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--ajax 연결 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/image_upload.css') }}">

</head>
<script>
  function posting() {
    let file = $('#file')[0].files[0]
    let filename = file['name']
    let form_data = new FormData() // FormData 처럼 보내는 방식
    form_data.append("f_name", filename)
    form_data.append("file", file)
    console.log(file, typeof(file))

    $.ajax({ // 비동기 방식
        type: "POST",
        url: "/fileupload",
        data: form_data,
        contentType: false,
        processData: false,
        success: function (response) {
            alert(response["result"])
            window.location.reload()
        }
    });
  }

  // Modal Upload 방식
  $(document).ready(function(){
    $('.post_img').on("dragover", dragOver)
                  .on("dragleave", dragOver)
                  .on("drop", uploadFiles);
  
  let files;
  function dragOver(e) {
    e.stopPropagation();
    e.preventDefault();
    if (e.type == "dragover") {
        console.log('dragover', e.target)
        $(e.target).css({
            "background-color": "black",
        });
    } else {
        console.log('dragleave')
        $(e.target).attr('src') = "{{url_for('static', filename = 'imgs/posting.png')}}";
      }
  } 

  function uploadFiles(e) {
    e.stopPropagation();
    e.preventDefault();
    e.dataTransfer = e.originalEvent.dataTransfer;
    files = e.dataTransfer.files;

    $('#first_modal').css({display: 'none'})
    $('#overlay_post1').css({display: 'none'})
    $('#second_modal').css({display: 'flex'})
    $('#overlay_post2').css({display: 'flex'})
    $('#input_image').attr("src", window.URL.createObjectURL(files[0]));
  }
  $('#btn_modal_upload').on('click', () => {
    let file = files[0]
    let filename = file['name']
    let form_data = new FormData() // FormData 처럼 보내는 방식
    form_data.append("f_name", filename)
    form_data.append("file", file)
    
    $.ajax({ // 비동기 방식
      type: "POST",
      url: "/fileupload",
      data: form_data,
      contentType: false,
      processData: false,
      success: function (response) {
          alert(response["result"])
          window.location.reload()
      }});
  });
})


  function modal_overlay_on() {
    document.querySelector('#overlay_post1').style.display = 'block';
    document.querySelector('#first_modal').style.display = 'block';
    document.querySelector('#overlay_post2').style.display = 'none';
    document.querySelector('#second_modal').style.display = 'none';
  }

  function modal_overlay_off(){ // overlay가 맨위로 올라오므로 overlay에 event
      document.querySelector('#overlay_post1').style.display = 'none';
      document.querySelector('#overlay_post2').style.display = 'none';
      document.querySelector('.modal_container').style.display = 'none';
      // document.querySelector('.overlay').style.top = window.pageYOffset + 'px'; // Modal 창 현재 보고있는 창에서 뜨게
  }


</script>
<body>
  <div>
    <h1> 1. 파일로 이미지 업로드 하기 </h1>
    <input id = 'filename' type="text" placeholder="업로드할 이미지 제목을 입력해주세요">
  </div>
  <div id="file_div">
    <input id="file" type="file">
    <button class='btn' onclick="posting()">업로드</button>
  </div>

  <hr>
  
  <div>
    <h1> 2. 모달창 이미지 업로드 하기 </h1>
    <button onclick = "modal_overlay_on()">모달 업로드</button>
  </div>

  {% include 'modal_upload.html' %}

</body>
</html>