<!-- 첫번쨰 모달-->
<div id = 'overlay_post1' onclick = "modal_overlay_off()">
    <div id = "first_modal" class = 'modal_container'>
        <div class="post_title">새 게시물 만들기</div>
        <img class="post_img" src="{{url_for('static', filename = 'imgs/posting.png')}}">
        <div class="post_info">사진과 동영상을 여기에 끌어다 놓으세요</div>
    </div>
</div>

<!-- 두번째 모달 -->
<div>
    <div id = "overlay_post2" onclick = "modal_overlay_off()">
        <div id = "second_modal" class='modal_container'>
            <img id = "input_image">
            <button id = 'btn_modal_upload' type="button">업로드하기</button>
        </div>
    </div>
</div>