<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>CRUD 연습하기.</h1>
    <h2>1. CRUD - CREATE</h1>
        <div>
            <form method="post" action="crud_create/">
                {% csrf_token %}
                <p>저자 <input type="text" name="author"></p>
                <p>글제목 <input type="text" name="title"></p>
                <p>글번호 <input type="text" name="number"></p>
                <p>글내용 <textarea id="box_content" name="content" rows="10" cols="8"></textarea></p>
                <button type="submit" name="button">글 작성하기</button>
            </form>
        </div>
    <h2>2. CRUD - READ, 3.CRUD - DELETE</h2>

    {% for article in all_article %}
        <p>저자 : {{article.author}} / 글제목 : {{article.title}} / 글번호 : {{article.number}} / 글내용 : {{article.content}}    
        <a href="crud_delete/{{ article.number }}">삭제</a></p>
    {% endfor %}

    <h2>4. CRUD - UPDATE</h2>
    <div>
        <form method="post" action="crud_update/">
            {% csrf_token %}
            <p>바꿀 글의 번호 <input type="text" name="number"></p>
            <p>저자 <input type="text" name="author"></p>
            <p>글제목 <input type="text" name="title"></p>
            <p>글내용 <textarea name="content" rows="10" cols="8"></textarea></p>
            <button type="submit" name="button">글 업데이트하기</button>
        </form>
    </div>
</body>
</html>