
body { 
    font-family: 'Noto Sans KR', sans-serif; 
}

/* ================== nav ================== */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    color:
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-btns{
    display:flex;
}

.nav-btn{
    margin: auto 10px auto 10px;
}
/* ========================================= */

/* feed box */
.feed_box_area{
    width: 500px;
    min-width: 500px;
    margin-right: 300px;
}

.feed_box {
    margin: 20px 0px 20px 0px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: white
}

/* ========================================= */

/* recommend box */
.recommend_box{
    width: 400px;
    height: 1000px;
    position: fixed;
    left: 62%;
    z-index: 0
}
.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 10000;
}

.modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 600px;
    position: relative;
    padding: 10px;
}

.article{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
    background-color:"#FAFAFA";
}

/* footer */
#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    margin-top: 100px;
    padding-bottom: 99999px; /* footer의 높이 */
}

footer {
    width: 100%;
    height: 99999px; /* footer의 높이 */
    position: absolute;  
    bottom: 0;
    left: 0;
}
/* footer 하단 고정 [E] */