<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <p class="login-title">로그인</p>
    <form class="form-area" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="user_email">아이디</label>
            <input type="text" id="user_email" name="user_email" placeholder="smkim">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="smkim">
        </div>
        <div class="login-box">
            <button type="submit" class="btn-login">로그인
            </button>
        </div>
    </form>
</body>
</html>