<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function print_product(cate){
            
        }
</head>
<body>
    <h1>Category</h1>
    {% for cate in categories %}
        <a onclick="print_product({{cate.name}})" >{{ cate.name }}</a>
    {% endfor %}
    <h1>Product</h1>
    {% for product in products %}
    <div id = "product_{{cate.name}}">
        이름 : {{product.name}}<br>
        설명 : {{product.description}}<br>
        가격 : {{product.price}}<br>
        재고 : {{product.stock}}<br>
    </div>
    {% endfor %}
    <div class="product_div">

    </div>

</body>
</html>